
// HelveticaNeueCyr
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: local('☺'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
  src: local('☺'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('truetype'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
  src: local('☺'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot');
  src: local('☺'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff') format('woff'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf') format('truetype'),
       url('/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}


// ArialMT
@font-face {
  font-family: 'ArialMT';
  src: url('/assets/fonts/ArialMT/ArialMT.eot');
  src: local('☺'),
       url('/assets/fonts/ArialMT/ArialMT.woff') format('woff'),
       url('/assets/fonts/ArialMT/ArialMT.ttf') format('truetype'),
       url('/assets/fonts/ArialMT/ArialMT.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}


// NimbusSanTConBold
@font-face {
	font-family: 'NimbusSanTConBold';
	src: url('/assets/fonts/NimbusSanTConBold/NimbusSanTConBold.eot');
  src: local('☺'),
       url('/assets/fonts/NimbusSanTConBold/NimbusSanTConBold.woff') format('woff'),
       url('/assets/fonts/NimbusSanTConBold/NimbusSanTConBold.ttf') format('truetype'),
       url('/assets/fonts/NimbusSanTConBold/NimbusSanTConBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}